/* Accordions
   ========================================================================== */
.accordion {
  margin-bottom: 20px;
}

.accordion-group {
  border: 0 none;
  margin-bottom: 20px;
  @include border-radius(6px);
  @include box-shadow(none);
  overflow: hidden;
}

.accordion-inner {
  border: 0 none;
  padding: 30px;

  & .intro-video {
    width: 200px;
    height: auto;
    max-height: 200px;
  }
}

.accordion-heading .accordion-toggle {
  display: block;
  position: relative;
  color: $brand-white;
  padding: 26px 20px 26px 50px;
  background-color: $brand-primary;
}

.accordion-heading .accordion-toggle.collapsed {
  background-color: $brand-white;
  color: $gray;
}

.accordion-heading .accordion-toggle:before {
  color: $brand-white;
  content: "\f273";
  display: inline-block;
  font: {
    family: 'Material-Design-Iconic-Font', serif;
    size: 22px;
  }
  position: absolute;
  top: 24px;
  left: 30px;
  @include transition(all 200ms ease-in-out);
}

.accordion-heading .accordion-toggle.collapsed:before {
  color: $gray-dark;
  content: "\f278";
  font: {
    family: 'Material-Design-Iconic-Font', serif;
  }
}

.accordion-heading .title {
  margin: 0;
  font-weight: 400;
}

.accordion-toggle {
  cursor: pointer;
}
