/* Flex
========================================================================== */
.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -2% 20px;
}

  .flex-row {
    & .flex-col-xs-1 {
      width: 4.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-2 {
      width: 12.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-3 {
      width: 21%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-4 {
      width: 29.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-5 {
      width: 37.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-6 {
      width: 46%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-7 {
      width: 54.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-8 {
      width: 62.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-9 {
      width: 71%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-10 {
      width: 79.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-11 {
      width: 87.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-xs-12 {
      width: 96%;
      margin: 0 2% 15px;
    }
  }

@media only screen and (min-width: 768px) {
  .flex-row {
    & .flex-col-sm-1 {
      width: 4.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-2 {
      width: 12.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-3 {
      width: 21%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-4 {
      width: 29.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-5 {
      width: 37.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-6 {
      width: 46%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-7 {
      width: 54.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-8 {
      width: 62.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-9 {
      width: 71%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-10 {
      width: 79.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-11 {
      width: 87.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-sm-12 {
      width: 96%;
      margin: 0 2% 15px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .flex-row {
    & .flex-col-md-1 {
      width: 4.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-2 {
      width: 12.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-3 {
      width: 21%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-4 {
      width: 29.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-5 {
      width: 37.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-6 {
      width: 46%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-7 {
      width: 54.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-8 {
      width: 62.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-9 {
      width: 71%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-10 {
      width: 79.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-11 {
      width: 87.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-md-12 {
      width: 96%;
      margin: 0 2% 15px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .flex-row {
    & .flex-col-lg-1 {
      width: 4.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-2 {
      width: 12.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-3 {
      width: 21%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-4 {
      width: 29.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-5 {
      width: 37.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-6 {
      width: 46%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-7 {
      width: 54.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-8 {
      width: 62.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-9 {
      width: 71%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-10 {
      width: 79.3333333333%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-11 {
      width: 87.6666666667%;
      margin: 0 2% 15px;
    }

    & .flex-col-lg-12 {
      width: 96%;
      margin: 0 2% 15px;
    }
  }
}
