/* Footer
   ========================================================================== */

.footer-main {
  border-top: solid 1px #ddd;
  padding: 10px 0 2px;
}

.site-footer {
  background-color: #010518;
  color: #fff;
  padding: 40px 0 25px;

  & .footer-logo {
    margin-bottom: 30px;
  }
}

.footer-heading {
  margin-bottom: 16px;
  display: inline-block;
  color: $brand-white;
  font-weight: 400;
  text-transform: capitalize;
  &:after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 8px;
    width: 30px;
    @include transition(all 0.5s ease 0.1s);
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}

.footer-menu {
  list-style: outside none;
  padding-left: 0;
  margin-bottom: 0;

  & li {
    margin-bottom: 8px;

    a {
      display: inline-block;
      color: $brand-white;
      text-transform: capitalize;
    }
  }
}

.footer-form {
  & .form-control {
    background-color: transparent;
    width: auto;
    @include transition(all 0.5s ease 0.1s);
    &:focus {
      @include box-shadow(none);
      background-color: $brand-white;
    }
  }
  & label {
    font-weight: 400;
  }

  & .btn-white {
    background-color: transparent;
    border-color: #ccc;
    padding: 8px 25px;
    &:hover,
    &:focus {
      background-color: $brand-white;
      color: $gray-base;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .site-footer {
    text-align: center;
  }
  .footer-form .form-control {
    margin: 0 auto;
  }
  .footer-heading:after {
    margin: 8px auto 0;
  }
}
