/* Icons
   ========================================================================== */

.icons-showcase > div {
    cursor: pointer;
    padding: 7px 15px;
	@include border-radius(2px);
	@include text-overflow();
}

.icons-showcase > div {
  &:hover {
  	background-color: $brand-primary;
  	color: $brand-white;
  	.text-muted {
  	    color: $brand-white;
     }
  }
  & > i {
  	  margin-right: 10px;
  	  text-align: center;
   }
}

.glyphicon {
	vertical-align: middle;
}

.icon-2x {
	font-size: 2.2em;
}

.icon-larger,
.panel-tool-options .icon-2x {
	font-size: 18px;
}

.icon {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.icons-wrapper {
     display:inline-block;
  & + .icons-wrapper {
    margin-left: 25px;
  }
}

.icon-fill,
.icon-outline {
     border: 1px solid $default-font-color;
     border-radius: 50%;
     color: $default-font-color;
     display: table;
     font-size: $h2-fontsize;
     height: 60px;
     padding: 5px;
     width: 60px;
     text-align: center;
     margin: 0 auto;
     & i {
          display: table-cell;
          vertical-align: middle;
     }
}

.icon-fill {
     border: 0 none;
     color: $brand-white;
}

.small-icon {
     width: 40px;
     height: 40px;
     font-size: 16px;
}

.large-icon {
     width: 90px;
     height: 90px;
     font-size: 30px;
}


/*Social link Style*/
.social-link {
  list-style: none;
  margin: 0 -2.5px !important;
  padding-left: 0;
}

.social-link li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 2.5px;
}