/* Input Groups
   ========================================================================== */

.input-group-addon .icon-color-preview {
    background-color: $brand-white;
    border: 1px solid #eee;
    display: inline-block;
    height: 16px;
    width: 16px;
	margin: 0;
	vertical-align: middle;
}

.color-picker .input-group-addon {
    cursor: pointer;
}