/* Navbars
   ========================================================================== */
//Menu Icon
.toggle-menu {
  outline: none;
  @include justify-content(flex-start);
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 0 5px !important;
  margin: 0;
  border: 0 none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
  }

  .menu-icon {
    position: relative;
    width: 70%;
    height: 1px;
    min-height: 1px;
    color: inherit;
    background-color: $brand-white;
    display: block;
    @include transition(all 0.4s ease);

    &:after,
    &:before {
      position: absolute;
      display: block;
      color: inherit;
      background-color: inherit;
      left: 0;
      height: 1px;
      min-height: 1px;
      content: "";
      @include transition(all 0.4s ease);
    }

    &:after {
      width: 120%;
      bottom: -6px;
    }

    &:before {
      width: 130%;
      top: -6px;
    }
  }
  &:hover {
    & .menu-icon {
      width: 100%;
      &:after,
      &:before {
        width: 100%;
      }
    }
  }
}

/* Default Navigation Style
   ========================================================================== */
.navbar {
  min-height: 10px;
  margin-bottom: 0;
  border: 0 none;
  @include border-radius(0);
  color: inherit;
}

.navbar-default {
  background-color: $brand-primary;
  padding: 40px 0;
  @include transition(all 0.5s ease);

  & .navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
  }

  & .icon {
    color: $brand-white;
    @include transition(all 300ms ease-in-out);

    &:hover,
    &:focus {
      @include box-shadow(0 1px 3px rgba($brand-black, 0.3));
      @include border-radius(50%);
      background-color: lighten($brand-primary, 15%);
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15px 0;

    & .main-navigation {
      padding-top: 15px;
    }
  }
}

//default Nav-menu style

.navbar-default {
  & .navbar-nav {
    margin-left: 100px;

    @media screen and (max-width: 1199px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 991px) {
      margin-left: 8px;
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }

  & .navbar-nav > li {
    &:not(:last-child) {
      margin-right: 1px;
    }
  }

  & .navbar-nav > li > a {
    padding: 10px 16px;
    color: $brand-white;
    &:hover,
    &:focus {
      color: $brand-secondary;
    }

    @media screen and (max-width: 1199px) {
      padding: 10px 14px;
    }

    @media screen and (max-width: 991px) {
      padding: 10px 6px;
    }
  }

  & .navbar-nav > .open > a,
  & .navbar-nav > .open > a:focus,
  & .navbar-nav > .open > a:hover,
  & .navbar-nav > .active > a,
  & .navbar-nav > .active > a:focus,
  & .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: $brand-secondary;
  }
}

.navbar-default {
  @include transition(all 0.5s ease);
  & .site-logo {
    @include transition(all 0.5s ease);
    width: 126px;
  }

  &.affix {
    padding: 10px 0;
    @include transition(all 0.5s ease);
    @include box-shadow(1px 0 4px 0 rgba($brand-black, 0.5));

    & .site-logo {
      width: 90px;
      margin-top: 6px;
    }
  }

  @media screen and (max-width: 991px) {
    & .site-logo {
      width: 90px;
      margin-top: 4px;
    }
  }

  @media screen and (max-width: 767px) {
    & .navbar-header {
      margin-left: 0;
      margin-right: 0;
    }

    &.affix {
      position: static;
      padding: 15px 0;
    }
  }
}

.navbar-default {
  & .user-navbar {
    @media screen and (max-width: 767px) {
      padding: 10px 0 5px;
      text-align: right;
      & .user-info {
        top: 5px;
        left: 0;
        right: auto;
      }
    }
  }
}

/* Custom Navigation Style
   ========================================================================== */

.navbar-custom {
  padding-bottom: 0;
  position: relative;
  z-index: 2;

  & .navbar-left {
    float: none !important;
    & .search-bar {
      float: left;
      margin: 5px 0 30px 70px;

      @media screen and (max-width: 767px) {
        margin: 0 0 10px;
      }
    }

    & .navbar-nav {
      clear: both;
      margin-left: -15px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.navbar-custom {
  & .search-bar {
    width: 500px;
    input[type="search"] {
      background-color: lighten($brand-primary, 15%);
      color: $brand-white;
      border: 0 none;
    }

    & .search-icon i {
      color: rgba($brand-white, 0.7);
    }

    & .form-control {
      border: 0 none;
      color: $brand-white;
    }

    & .form-control:focus {
      background-color: #fff;
      color: $default-font-color;
      border-color: inherit;
      @include transition(all 0.3s ease-in-out);
    }

    & .form-control:focus + .search-icon i {
      color: rgba($gray-base, 0.7);
    }

    @media screen and (max-width: 991px) {
      width: 300px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.navbar-custom {
  & .search-bar,
  & .user-info {
    @include transition(all 0.5s ease);
    height: auto;
  }

  & .navbar-nav {
    @include transition(all 0.5s ease);
  }

  &.affix {
    padding-bottom: 0;

    & .search-bar,
    & .user-info {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    & .search-bar {
      margin-top: 0;
      margin-bottom: 0;
    }

    & .navbar-nav {
      clear: none;
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 991px) {
    & .social-link {
      @include transition(all 0.2s linear);
    }

    &.affix {
      & .social-link {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 15px;

    &.affix {
      padding-bottom: 15px;

      & .search-bar,
      & .user-info {
        visibility: visible;
        opacity: 1;
        height: auto;
      }

      & .navbar-nav {
        clear: both;
        margin-left: 0;
      }

      & .social-link {
        display: inline-block;
      }

      & .search-bar {
        margin-bottom: 10px;
      }
    }
  }
}

.navbar-custom {
  & .navbar-nav > li > a,
  & .navbar-nav > .active > a {
    background-color: transparent;
    background-image: none;
    background-position: left bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 3px, 100% 1px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    @include transition(all 0s ease-out 0s);
    padding-bottom: 14px;
  }

  & .navbar-nav > .active > a,
  & .navbar-nav > li > a:hover,
  & .navbar-nav > li > a:focus,
  & .navbar-nav > .open > a,
  & .navbar-nav > .open > a:focus,
  & .navbar-nav > .open > a:hover {
    background-color: transparent;
    background-image: linear-gradient($brand-secondary, $brand-secondary);
    background-size: 100% 3px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    @include transition(all 0.5s ease);
  }

  @media screen and (max-width: 991px) {
    & .navbar-nav > li > a {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

}

// Notification list Style
.notification-list {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;

  & > li {
    display: inline-block;
    vertical-align: top;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

//User Info Style
.user-navbar {
  padding: 5px 60px 5px 0;
  position: relative;

  @media screen and (max-width: 991px) {
    padding-right: 45px;
  }

  & .user-info {
    position: absolute;
    top: 1px;
    right: 0;
    left: auto;
    z-index: 1;
  }

  & .social-link {
    display: inline-block;
    vertical-align: top;

    & li {
      margin: 0;
    }

    & + .notification-list {
      margin-left: 20px;
    }
  }
}

.user-info {
  display: inline-block;
  background-color: transparent;

  & > a {
    display: inline-block;
    color: $brand-white;

    &:hover,
    &:focus {
      color: darken($brand-white, 5%);
    }

    & img {
      display: inline-block;
      @include border-radius($border-radius-circle);
    }

    & .user-name {
      display: none;
    }
  }
}

.navbar-custom {
  & .user-navbar {
    padding: 5px 0;
  }

  & .user-info {
    top: -65px;

    & > a {
      background-color: lighten($brand-primary, 15%);
      @include border-radius($border-radius-base);

      & img {
        @include border-radius($border-radius-base 0 0 $border-radius-base);
      }

      & .user-name {
        display: inline-block;
        padding: 0 10px;
      }
    }

    @media screen and (max-width: 400px) {
      & > a {
        background-color: transparent;
      }

      & > a img {
        @include border-radius($border-radius-circle);
      }

      & > a .user-name {
        display: none;
      }
    }
  }
}

//Affix Style
.affix {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 500;

  &.navbar {
    top: 0;
  }
}

/* Navbar DropDown Menu
   ========================================================================== */
.navbar-nav li.dropdown {
  & .dropdown-menu {
    min-width: 250px;
    & li a {
      color: $default-font-color;
      font-size: 15px;
      font-weight: 400;
      padding: 10px 35px 10px 20px;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }

    & .active a {
      color: $brand-primary;
    }
  }

  @media screen and (max-width: 767px) {
    &.open .dropdown-menu {
      & li a {
        color: $brand-white;
        background-color: transparent;

        &:hover,
        &:focus {
          color: $brand-secondary;
        }
      }

      & .active a {
        background-color: transparent;
        color: $brand-secondary;

        &:hover,
        &:focus {
          color: $brand-secondary;
          background-color: transparent;
        }
      }
    }
  }
}

/*Mega Menu*/

.navbar-nav li.dropdown {
  &.mega-dropdown {
    position: static !important;
  }

  & .mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    @include box-shadow(none);

    & > li > ul {
      padding: 0;
      margin: 0;

      & > li {
        list-style: none;
        font-weight: 400;

        & > a {
          display: block;
          color: $default-font-color;
          padding: 3px 5px;
          margin-bottom: 2px;

          @media screen and (max-width: 767px) {
            color: $brand-white;
          }
        }
      }
    }

    & .dropdown-header {
      font-size: 16px;
      color: $brand-primary;
      padding: 5px;
      line-height: 30px;
    }

    & .dropdown-header.carousel-header {
      padding-right: 60px;
      white-space: normal;
    }
  }

  .mega-dropdown-menu > li ul > .active > a,
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: $brand-primary;

    @media screen and (max-width: 767px) {
      color: $brand-secondary;
    }
  }

  .carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
    padding: 0 !important;
    line-height: 24px;
    display: inline-block;
    border: 1px solid #ddd;
  }

  .right.carousel-control {
    background-image: none !important;
  }

  .left.carousel-control {
    right: 30px;
    left: inherit;
    background-image: none !important;
  }

  .carousel-control i {
    text-shadow: none;
    color: $default-font-color;
    vertical-align: middle;
  }
}

/* Header Notification drop down css
   ========================================================================== */
.dropdown-menu.nav-searchbox {
  padding: 0;
  min-width: 200px;
  width: 300px;

  &:after,
  &:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    position: absolute;
    right: 8px;
    width: 10px;
  }

  &:before {
    border-bottom: 5px solid $brand-black;
    top: -10px;
    height: 10px;
  }

  &:after {
    border-bottom: 5px solid $brand-white;
    top: -9px;
    height: 9px;
  }

  & > .search-bar {
    margin-bottom: 0;
  }

  @media screen and (max-width: 400px) {
    width: 200px;
  }
}

.dropdown-menu.drop-menu-list {
  padding: 20px;
  min-width: 200px;
  max-width: 350px;

  .notification-list > li & {
    width: 320px;

    @media screen and (max-width: 400px) {
      width: 265px;
    }
  }
}

.dropdown-menu-header {
  border-bottom: 1px solid map_get($grey, lighten-1);

  & .title {
    font-size: 12px;
    text-transform: uppercase;
    color: map_get($grey, lighten-1);
    margin-bottom: 8px;

    & .badge {
      margin-left: 4px;
    }
  }

  & .user-name {
    font-size: $default-font-size;
    font-weight: 400;
    color: $default-font-color;
    margin-bottom: 8px;
  }
}

.dropdown-menu-body {
  padding-top: 20px;

  & ul {
    margin-bottom: 18px;
    li {
      margin-bottom: 8px;
    }

    & .active a {
      color: $brand-primary;
    }
  }
}

.user-notification li {
  @include display-flex();
  @include align-items(flex-start);

  & > img {
    display: inline-block;
    margin-right: 12px;

    & + a {
      -webkit-align-self: center;
      align-self: center;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar-collapse.in {
    overflow-y: visible !important;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: lighten($brand-primary, 15%);
  }

  .navbar-nav li.dropdown .mega-dropdown-menu .dropdown-header {
    color: $brand-secondary;
  }
}

/* TopBars Styles
   ========================================================================== */
.topbar-default,
.topbar-dark {
  background-color: map_get($grey, lighten-3);

  & .container-topbar {
    min-height: $topbar-height;
    height: $topbar-height;
    max-height: $topbar-height;
  }

  & ul {
    margin-bottom: 0;
  }

  & ul li {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  & .topbar-left {
    float: left;
  }

  & .topbar-right {
    float: right;
    margin-right: -20px;

    & ul {
      padding: 0 20px;
    }
  }

  & .topbar-right .social-link,
  & .topbar-right .login-section {
    display: inline-block;
    vertical-align: top;
  }
}

.topbar-default,
.topbar-dark {
  & .contact-info {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;

    & li {
      display: inline-block;
      padding-right: 20px;
      padding-left: 20px;
    }

    & i {
      display: inline-block;
      margin-right: 8px;
    }
  }

  & .login-section li + li:before {
    content: "/";
    margin-right: 6px;
  }

  & .topbar-right .social-link {
    margin: 0 -6px;
    & li {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.topbar-default {
  & .contact-info li:not(:first-child) {
    border-left: 1px solid lighten($default-font-color, 10%);
  }

  & .topbar-right {
    margin-right: -20px;

    & ul {
      border-left: 1px solid lighten($default-font-color, 10%);
    }
  }
}

.topbar-dark {
  background-color: $gray !important;

  a {
    color: $brand-white;

    &:hover,
    &:focus {
      color: darken($brand-white, 5%);
    }
  }

  & .login-section li + li:before {
    color: darken($brand-white, 10%);
  }
}
