/* Pager pagination
   ========================================================================== */


/*.pager li > a, .pager li > span {
	@include border-radius(4px);
}*/

.pagination {
  > li {
     > a,
     > span {
        color: $default-font-color;
	   font-weight: 500;
	   background-color: transparent;
	   border: 0 none;
     }
  }
}

.pagination {
  > li {
	  > a:hover,
	  > span:hover,
	  > a:focus,
	  > span:focus {
		  z-index: 3;
		  color: $brand-white;
		  background-color: lighten($brand-primary, 10%);
		  border-color: transparent;
	}
  }
}


.pagination {
  > .active {
	> a,
	> span,
	> a:hover,
	> span:hover,
	> a:focus,
	> span:focus {
		  background-color: $brand-primary;
		  border-color: $brand-primary;
		  color: $brand-white;
		  z-index: 5;
	}
  }
}
