/* Portfolio
========================================================================== */
.portfolio-section {
  & .card-image {
    margin-bottom: 30px;
    & img {
      width: 100%;
      @include transition(all 1200ms ease);
    }
    &:hover {
      & img {
        @include box-shadow(0 2px 8px -2px rgba($brand-black, 0.6));
        @include scale(1.08);
      }
    }
  }
}

.filter-with-bg-color,
.filter-with-border {
  & ul {
    padding-left: 0;
    margin-bottom: 45px;
    & li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      &:last-child {
        margin-right: 0;
      }
      padding: 10px 24px;
      transition: all 0.4s ease 0.1s;
    }
  }
}

.filter-with-bg-color ul li {
  border: 1px solid #8f8f8f;
  &:hover {
    cursor: pointer;
    background-color: $brand-primary;
    border-color: $brand-primary;
    & a {
      color: $brand-white;
    }
  }
}

.filter-with-border ul li {
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  &:hover {
    cursor: pointer;
    border-color: $brand-primary;
    & a {
      color: $brand-primary;
    }
  }
}

@media screen and (max-width: 1199px){
  .filter-with-border {
    text-align: center;
    & .section-header,
    & ul {
      float: none !important;
    }
  }
}