/* Revolutions Slider
   ========================================================================== */
.hermes {
  & .tp-bullet {
    overflow: hidden;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    position: absolute;

    &:hover {
      background-color: rgba(0, 0, 0, 0.21);
    }

    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      height: 0;
      left: 0;
      width: 100%;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 1px rgb(255, 255, 255);
      -webkit-transition: height 0.3s ease;
      transition: height 0.3s ease
    }

    &.selected:after {
      height: 100%
    }
  }
}