/* Right Sidebar
   ========================================================================== */
.profile-intro {
  background-color: $brand-white;
  @include border-radius($border-radius-base !important);

  &:hover {
    & .avatar-circle {
      @include transition(border-radius 0.4s ease 0.1s);
      @include border-radius(25% !important);
    }
  }
  & .card-image {
    position: relative;
    width: 100%;
    min-height: 100%;
    //@include background('../images/background-picture-1.jpg', center center);
    @include background('http://via.placeholder.com/1920x1080', center center); // replace backgroud image
  }

  & .card-content {
    padding: 75px 40px 24px !important;
  }

  & .icon {
    @include transition(all 0.2s ease 0s);
    color: $brand-primary;

    &:hover,
    &:focus,
    &:active {
      @include scale(1.2);
    }
  }

  img.avatar-circle {
    display: inline-block;
    @extend .img-lg;
    @include border-radius(50% !important);
    @extend .z-depth-2;
    position: relative;
    margin: 0 auto;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    @include transition(all 0.4s ease-in-out);
    z-index: 1;
  }
}

.categories-list {
  & li { margin-bottom: 10px; }
  & li.active a {color: $brand-primary;}
  & .badge { font-size: 9px;}
}

.articles-section {
  & .articles {
    margin-bottom: 26px;
    &:last-child {margin-bottom: 0;}
  }
}

.article-image {
  display: block;
  margin-bottom: 12px;
  & > img {
    @include border-radius($border-radius-large);
    width: 100%;
  }
}

.article-description {
  & span { display: block; font-weight: 500; margin-bottom: 2px;}
}

.meta-wrapper { margin-bottom: 10px; }

.meta-date,
.meta-comment {
  font-size: 12px;
  color: #999;
  display: inline-block;
  & i { display: inline-block; margin-right: 6px; }
}

.meta-date {
  & + .meta-comment { margin-left: 10px; }
}