// Testimonials Chat Style
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px !important;
}

.chat-testimonial-carousel {
  @media screen and (max-width: 500px) {
    .customer {
      & > img.img-lg {
        width: 90px !important;
        height: 90px !important;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .customer {
      & > img.img-lg {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }
}

.chat-box {
  & .card-content {
    padding: 0;
  }
}

.chat-left {
  position: relative;
  overflow: hidden;
  & .customer {
    position: absolute;
    bottom: 0;
  }

  & .chat-box {
    position: relative;
    padding: 24px;
    background-color: #4bbb5a;
    color: $brand-white;
    float: right;
    width: 68%;
    & h5,
    & .post-designation {
      color: $brand-white;
    }
    &:after {
      border-color: #4bbb5a transparent;
      border-style: solid;
      border-width: 0 0 16px 28px;
      bottom: 0;
      content: "";
      display: block;
      left: -26px;
      position: absolute;
    }

  }

}

.chat-right {
  position: relative;
  overflow: hidden;
  & .customer {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & .chat-box {
    position: relative;
    padding: 24px;
    background-color: #414141;
    color: $brand-white;
    float: left;
    width: 68%;
    & h5,
    & .post-designation {
      color: $brand-white;
    }
    &:after {
      border-color: #414141 transparent;
      border-style: solid;
      border-width: 0 40px 22px 0;
      bottom: 0;
      content: "";
      display: block;
      right: -26px;
      position: absolute;
    }
  }

}

// Testimonial with Background

.testimonial-in-bg {
  background-color: rgba($brand-black, 0.8);
  @include box-shadow(5px 5px 6px rgba($brand-black, 0.06));
  padding: 30px 30px 30px 150px;
  overflow: hidden;
  position: relative;

  & .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 20px;
    border: 4px solid $brand-secondary;
  }
  & .pic img {
    width: 100%;
    height: auto;
  }
  & .description {
    color: #eaeaea;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
    position: relative;

    &:before {
      content: "\f1b2";
      font: {
        family: 'Material-Design-Iconic-Font';
        size: 24px;
      }
    ;
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: "fliph"; /*IE*/
      filter: "fliph"; /*IE*/
      position: absolute;
      left: -24px;
    }
  }
  & .title {
    color: $brand-secondary;
    margin-bottom: 6px;
  }
  & .post {
    display: inline-block;
    font-size: 17px;
    color: #d45113;
  }
}

// Testimonials Simple

.basic-testimonial,
.classic-testimonial {
  text-align: center;

  & .pic {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  & .pic img {
    width: 100%;
    height: 100%;
  }
}

.classic-testimonial-carousel {
  & .item {
    padding: 0 50px
  }
  & .description {
    position: relative;
    color: #333;
    &:before {
      content: "\f1b2";
      font: {
        family: 'Material-Design-Iconic-Font';
        size: 74px;
      }
    ;
      opacity: 0.8;
      position: absolute;
      color: #f6a238;
      bottom: auto;
      left: 0;
      right: 0;
      top: -35px;
      line-height: 1;
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: "fliph"; /*IE*/
      filter: "fliph"; /*IE*/
      z-index: -1;
    }
  }
  .owl-nav {
    position: absolute !important;
    bottom: 35% !important;
    width: 100% !important;
    & .owl-next.disabled,
    & .owl-prev.disabled {
      border-color: darken(#ffcd38, 20%) !important;
      opacity: 1;

      &:after {
        color: darken(#ffcd38, 20%) !important;
      }
    }
  }

  .owl-prev,
  .owl-next {
    background-color: transparent !important;
    border: 1px solid $brand-black !important;
    @include border-radius(0 !important);
    color: $brand-black !important;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 40px;
    padding: 0 !important;
  }

  .owl-prev:after,
  .owl-next:after {
    content: "\f2ea";
    font: {
      family: 'Material-Design-Iconic-Font';
      size: 16px;
    }
  ;
    color: $brand-black !important;
  }
  .owl-next:after {
    content: "\f2ee";
  }

  .owl-prev {
    left: -0%;
  }
  .owl-next {
    right: -0%;
  }

  @media screen and (max-width: 767px) {
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .owl-theme .owl-controls {
      top: 48%;
    }
  }
}

@media screen and (max-width: 991px) {
  .testimonial-in-bg {
    padding: 20px;
    text-align: center;
  }
  .testimonial-in-bg .pic {
    display: block;
    position: static;
    margin: 0 auto 15px;
  }

  .testimonial-in-bg .description:before {
    font-size: 14px;
    left: -4px;
  }
}
