/* Videos
========================================================================== */
.intro-video {
     position: relative;
     cursor: pointer;
     @include border-radius(14px);
     overflow: hidden;

     & > img {width: 100%}
}

.intro-video-content {
     position: absolute;
     top: 50%;
     left: 0;
     right: 0;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     z-index: 1;
     color: $brand-white;
     & > a { color: $brand-white; display: inline-block; }
}

/* Search Bar Style
========================================================================== */
.search-bar {
     background-color: $brand-white;
     @include border-radius($border-radius-base);
     position: relative;
     & .form-group {
          width: 100%;
          height: 100%;
          margin-bottom: 0;
     }
     & input[type="search"] { padding-right: 50px; }

     & .search-icon {
          background-color: transparent;
          border: 0 none;
          color: $default-font-color;
          height: 30px;
          width: 30px;
     }

     & .form-control {
          box-shadow: none;
          &.input-lg + .search-icon {
               position: absolute;
               right: 14px;
               top: 6px;
          }
     }

     & .search-icon {
          position: absolute;
          right: 14px;
          top: 2px;
     }

     &.right-side-icon {
          & input[type="search"] {
               padding-right: 16px;
               padding-left: 50px;
          }

          & .search-icon {
               position: absolute;
               left: 14px;
               top: 2px;
          }

          & .form-control {
               box-shadow: none;
               &.input-lg + .search-icon {
                    position: absolute;
                    left: 14px;
                    top: 6px;
               }
          }
     }
}


/* Center Crop Images
========================================================================== */
.center-crop-image {
     position: relative;
     height: 250px;
     overflow: hidden;

     & > img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: auto;
          width: 100%;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
     }
}

/* Focused
========================================================================== */

.is-focused {
     background-color: transparent;
     background-image: none;
     background-position: center bottom, center calc(100% - 1px);
     background-repeat: no-repeat;
     background-size: 0 2px, 100% 1px;
     border: 0 none;
     border-radius: 0;
     box-shadow: none;
     float: none;
     @include transition(all 0s ease-out 0s);

     &:hover,
     &:focus {
          background-image: linear-gradient($brand-primary, $brand-primary);
          background-size: 100% 2px, 100% 1px;
          box-shadow: none;
          outline: medium none;
          @include transition(all 0.8s ease);
     }
}